@font-face {
    font-family:"Belair Light";
    src: url("Belair Light.ttf");
}

.belair-font {
    font-family: 'Belair Light';
    font-style: normal;
}

.text-bold {
    font-weight: bold;
}

nav {
    height: 75px;
}

nav .race-flag-icon {
    margin-top: -15px;
}

.race-flag-icon {
    filter: invert(100%);
    opacity: 0.3;
}
