html {
    background-color: gainsboro;
}

.text-bold {
    font-weight: bold;
}

nav {
    height: 75px;
}

nav .race-flag-icon {
    margin-top: -15px;
}

.race-flag-icon {
    filter: invert(100%);
    opacity: 0.3;
}

.no-margin {
    margin: 0px;
}
